body {
    font-family:sans-serif;
    background-image: url("en-.jpg");
    background-repeat: no-repeat;
    width: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #000000;
}

ul {
    list-style-type: none;
    padding: 10px;
}

li {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    text-decoration: underline;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    color: #000000;
}